.App {
  text-align: center;
}

#feedback {
  border-collapse: collapse;
  width: 100%;
}
#feedback td,
#feedback th {
  border: 1px solid #ddd;
  padding: 8px;
}
#feedback th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
#feedback tr:nth-child(even) {
  background-color: #f2f2f2;
}
.btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2rem;
  cursor: pointer;
  border-radius: 5px;
}
.btn-1 {
  background-color: #4caf50;
}
.btn-2 {
  background-color: #008cba;
}
.btn-3 {
  background-color: #f44336;
}
